.release-card {
  display: flex;
  .preview-image {
    min-width: 18vw;
  }
  .text-container {
    display: grid;
    grid-template-rows: 0.3fr 0.3fr 0.3fr;
    grid-template-areas: "top top" "left right" "bottom bottom";
    margin-left: 20px;
  }
}
