.top-nav {
  display: flex;
  align-items: flex-end;
  width: 100vw;
  margin: 0 auto;
  min-height: 10vh;
  justify-content: space-around;
  padding-bottom: 30px;
  a {
    text-align: center;
    margin: 0px 10px;
    color: #4a4a4a;
  }
}

.active-link {
  color: black !important;
}

@media only screen and (max-width: $Laptops-sm) {
  .top-nav {
    width: 90vw;
  }
}

@media only screen and (max-width: $Phones) {
  .top-nav {
    padding-bottom: 20px;
    a {
      margin: 0px 5px;
    }
  }
}
