.about-container {
  border-top: 1px solid grey;
  padding-top: 6px;

  .about-text-wrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;

    h1 {
    }

    h2 {
      font-family: Ubuntu, sans-serif;
      font-weight: 400;
    }
  }

  .about-team-wrapper {
    text-align: center;
    .about-photo-grid {
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
  }
}
