.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  margin: 0 auto;
  p {
    input {
      margin-top: 10px;
      min-height: 30px;
      padding: 5px;
      border: 1px solid gainsboro;
      width: -webkit-fill-available;
    }
    textarea{
      margin-top: 10px;
      min-height: 50px;
      padding: 5px;
      border: 1px solid gainsboro;
      width: -webkit-fill-available;
    }
}
  button {
    width: 40%;
    padding: 5px;
    margin: 0 auto;
    border: 1px solid gainsboro;
    background: white;
  }
}
