.home-links {
  display: flex;

  h2 {
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: upright;
    top: 20%;
    left: 48%;
    letter-spacing: 10px;
  }

  .home-link-list {
    padding: 0px;
    display: grid;
    height: 75vh;
    overflow: scroll;
    list-style-type: none;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}


@media only screen and (max-width: $Tablets) {
  .home-links{
    text-align: center;
    h2{
      position: static;
      writing-mode: initial;
      letter-spacing: 2px;
    }
  }
}
