.release-links {
  display: grid;
  grid-template-columns: 35% 65%;
  border-top: 1px solid grey;

  .recent-article-image {
    margin-top: 1em;
    margin-left: 30px
  }

  .recent-article-text {
    margin-top: 10px;
  }

  .album-release-link-list {
    list-style-type: none;
    height: 80vh;
    overflow-y: scroll;
    margin-right: 30px;

    li {
      margin: 0px;
      margin-bottom: 20px;
    }
  }
}

@media only screen and (max-width: $Tablets) {
  .release-links {
    display: flex;
    flex-direction: column;
    .recent-article-image {
      position: relative;
      margin-right: 30px;
      max-height: 30vh;
      overflow: hidden;

      .image-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,.5);
        z-index: 1;
      }

      .recent-article-text {
        padding: 0px 30px 10px;
        position: absolute;
        bottom: 0;
        z-index: 2;
      }
    }
    .album-release-link-list {
      overflow-y: visible;
    }
  }
}

@media only screen and (max-width: $Tablet-sm) {
  .release-links {
    .recent-article-image {
      margin: 20px;
      margin-bottom: 0px;
    }
    .album-release-link-list {
      margin: 20px;
      padding-left: 0px;
    }
  }
}

