body {
  margin: 0px;
}

h1 {
  font-family: 'Krona One', sans-serif;
  margin: 0px;
  margin-top: 30px;
}

h2 {
  font-family: 'Krona One', sans-serif;
  font-size: 25px;
  margin: 10px 0px;
}

h3 {
  font-family: 'Krona One', sans-serif;
  font-size: 18px;
  margin: 0px;
}

p {
  font-family: 'Ubuntu', sans-serif;;
  font-size: 18px;
  margin: 5px 10px;
  i {
    font-weight: 300;
  }
}

a {
  font-family: 'Krona One', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

@media only screen and (max-width: $Tablet-sm) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }

  a {
    font-size: 12px;
  }
}

@media only screen and (max-width: $Phones) {
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }

  a {
    font-size: 8px;
  }
}
