.album-release-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1em 30px;
  border-top: 1px solid grey;
  .album-release {
    display: grid;
    .album-release-author-date {
      display: flex;
      justify-content: flex-end;
      margin: 20px;
    }
    .album-release-photos {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 20px;
    }
  }
}
