.album-release-wrapper {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 1em 30px;
  border-top: 1px solid grey;
  .album-release {
    display: grid;
    .album-release-author-date {
      display: flex;
      justify-content: flex-end;
      margin: 20px;
    }
    .album-release-photos {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 20px;
    }
  }
}

@media only screen and (max-width: $Tablet-sm) {
  .album-release-wrapper {
    grid-template-columns: 1fr;
    padding: 1em 20px;
  }
}


@media only screen and (min-width: $Laptops-big) {
  .album-release-wrapper {
    grid-template-columns: 2fr 1fr;
  }
}
