.blog-post {
  border-top: 1px solid grey;
  .blog-post-content {
    height: 80vh;
    margin: 1em 30px;
    display: grid;
    grid-template-columns: 33% 66%;

    .blog-post-images-additional {
      display: grid;
      grid-auto-flow: column;
    }

    .blog-post-text {
      padding-left: 40px;
      text-align: center;
      overflow-y: scroll;

      .blog-post-details {
        display: flex;
        justify-content: left;
        margin-bottom: 20px;
      }
    }
  }
}
